<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 <listeners>
   <listener class-name="com.ui.listeners.MyTestListener"/>
 
 </listeners>
 
  <test thread-count="5" name="Test" parallel="methods">
    <parameter name="browserName" value="${browserName}"/>
     <parameter name="isHeadless" value="${isHeadless}"/>
      <parameter name="isLambda" value="${isLambda}"/>
    <classes>    
      <class name="com.ui.tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
